@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome To Course Registration</h3>
    <p>Here, you can enroll students, add courses and enroll each student to different courses.</p>
</div>
